doctype html
html.theme-light
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")    
    title= title
    link(rel='icon', type="image/png", sizes="76x76", href='images/favicon.ico')
    link(rel='icon', type="image/x-icon",sizes="76x76", href='images/favicon.ico')
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/LineIcons.css')
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/stylesheets/small.css')
    link(rel='stylesheet', href='/stylesheets/large.css')
    link(rel='stylesheet', href='/stylesheets/animations.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel='stylesheet', href='https://cdn.lineicons.com/2.0/LineIcons.css')
    link(rel="stylesheet", href="hamburgers.css")
    link(rel="stylesheet", href="stylesheets/menu.css")
    link(rel="stylesheet", href="stylesheets/all.min.css")
    link(rel="stylesheet", href="stylesheets/solid.min.css")
  body.body-theme
    block content
    
    script(src="jquery.slim.min.js")
    script(src="jquery.min.js")
    script(src="javascripts/prereq.js")
    script(src="javascripts/all.js")
    script(src="javascripts/theme.js")
    script(src="javascripts/pages.js")
