extends layout

block content
  .Closepanel.container-fluid#CloseMenu(onclick="Closemypanel()").hide
  #HiddenPanel.hidden-panel.hide
      span.hidden-panel-close(data-js='hidden-panel-close') Close
      .hidden-panel-content
        nav.hidden-panel-nav
          h3(style='text-align: left;')
            | NAVIGATION.
          ul.mt-2.index-menu
            li
              .col-12.text-left.mb-4.pt-5
                a(href='/') home 
              .col-12.text-left.mb-4.pt-4
                a(href='/login') login  
              .col-12.text-left.mb-4.pt-4
                a(href='/signup') sign up 
              .col-12.text-left.mb-4.pt-4
                a(href='/contact') contact
         
  main.container-fluid
    .app-container.container-fluid.p-0
      .row.main-header
        .void.col-10
        .menu-btn.col-2.text-right#MenuIcon
          button(type="button" data-js='menu-toggle').hamburger.hamburger--minus.menu-toggle
            span.hamburger-box
              span.hamburger-inner
      .welcome-text.container-fluid.pl-0.pr-0.pt-4
        h4 Login          
    .container-fluid.form-parent.p-0.mt-4
      .form-container.off-canvas.col-xl-6.col-md-6.p-0
        form#formsignin.form-signin(role='form' action="/dashboard" method='post')
          .form-group
            label(for='Username') Username
            input#Username.form-control(type='text' name='username' aria-required='true' aria-invalid='true' required)
          .form-group.passwordcontn
            label(for='password') Password
            input#password.form-control(type='password' name='password' aria-required='true' aria-invalid='true' autocomplete="on" required)
            i(onclick="showPassword()" type="checkbox" id="Eye").fa.fa-eye.eyes
          .row
            .checkbox.col-6
              label
                input(type='checkbox' value='remember-me')
                |  Remember me
            .col-6.text-right
              a(href="#") Forgot Password?
          .text-center
            button.cta(type="submit").text-center
              span sign in
          .pt-2
          a(href="/signup") Sign up
