
block content
  .cosmo.hide
    .cosmo-row
      .profile-modal.col-7.text-center.p-3
        p Are you sure you want to delete this account?
        .container-fluid.text-center
          .row
            .col-6
              button(onclick="cancelprofilemodal()").proceed Yes
            .col-6
              button(onclick="cancelprofilemodal()").cancel No