
block content
  .cosmo.hide
    .cosmo-row
      .profile-modal.col-10.text-center.p-3
          label(for="#NewUser").text-left
            p.thick New User's Email Address:
             small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else. (An invite link will be sent to the new user's email, which will take them to a page where they can sign up as part of the household)
          input.form-control#NewUser.search-chat(type="email" name="NewUserEmail" placeholder="Email Address")
          .container-fluid.text-center
            .row.p-0.m-0.pt-3
              .col-6.p-0.m-0
                button.proceed
                  .proceed-new-user Send
              .col-6.p-0.m-0
                button(onclick="cancelprofilemodal()").cancel.ml-2 Cancel
          