/* The switch - the box around the slider */

.switchPro {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 26px;
}


/* Hide default HTML checkbox */

.switchPro input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.sliderPro {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--shadow);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.sliderPro:before {
    margin-left: 3px !important;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0 15px var(--shadow);
    background: grey;
}

.switchPro input:checked+.sliderPro {
    background-color: var(--color-secondary)
}

.switchPro input:checked+.sliderPro:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: #2196f3;
}


/* Rounded sliders */

.sliderPro.roundPro {
    border-radius: 34px;
}

.sliderPro.roundPro:before {
    border-radius: 50%;
}

.toggle {
    margin: 0 0 0 2rem;
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
}

.toggle input {
    display: none;
}

.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #33455e;
    display: block;
    transition: all 0.3s;
    border-radius: 3.4rem;
    cursor: pointer;
}

.roundbutton:before {
    position: absolute;
    content: "";
    height: 2.4rem;
    width: 2.5rem;
    border-radius: 100%;
    display: block;
    left: 0.5rem;
    bottom: 0.5rem;
    background-color: white;
    transition: all 0.3s;
}

input:checked+.roundbutton {
    background-color: #FF6E48;
}

input:checked+.roundbutton:before {
    transform: translate(2.6rem, 0);
}