    body {
        left: 0;
        margin: 0;
        overflow: auto;
        position: relative;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        transition: left 0.3s ease-in-out;
    }
    
    body.panel-open {
        left: -250px;
    }
    
    .container {
        max-width: 100% !important;
    }
    
    a {
        outline: 0;
        text-decoration: none;
    }
    
    button {
        outline: none !important;
    }
    
    button:focus {
        outline: none !important;
    }
    
    header {
        color: #fff;
        position: relative;
        z-index: 1000;
        background-color: rgb(33, 31, 32);
        padding-bottom: 5px !important;
        padding-left: 40px !important;
        font-size: large
    }
    
    @import url("/stylesheets/animation.css");
    .menu-toggle {
        cursor: pointer;
        float: right;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: flex-end;
    }
    
    .menu-toggle p {
        font-weight: bold;
    }
    
    .menu-toggle.open {
        opacity: 0.5;
    }
    
    .menu-toggle-grippy {
        border-bottom: 5px solid #fff;
        border-top: 5px solid #fff;
        float: left;
        line-height: 0;
        margin-right: 1em;
        padding: 5px 0;
        text-indent: -999em;
        width: 35px;
    }
    
    .menu-toggle-grippy:after {
        background: #fff;
        content: '';
        display: block;
        height: 5px;
    }
    
    .menu-toggle-label {
        float: left;
        font-weight: 700;
        height: 25px;
        letter-spacing: 1px;
        line-height: 25px;
        text-transform: uppercase;
    }
    
    .hidden-panel {
        color: white !important;
        font-size: 0.875rem;
        height: 100%;
        position: absolute;
        right: -250px;
        top: 0;
        width: 250px;
    }
    
    .hidden-panel a {
        color: white;
        transition: color 0.3s ease-out;
    }
    
    .hidden-panel a:hover {
        text-decoration: none;
    }
    
    .hidden-panel-close {
        color: white;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 4em;
        transition: color 0.3s ease-in-out;
        z-index: 500;
    }
    
    .hidden-panel-close:hover {
        color: unset;
    }
    
    .hidden-panel-content {
        padding: 15px;
        position: fixed;
        width: 250px;
    }
    
    .hidden-panel-content li:hover {
        color: unset;
        -webkit-animation: text-flicker-in-glow 4s linear both;
        animation: text-flicker-in-glow 4s linear both;
    }
    
    .hidden-panel-nav {
        text-transform: uppercase;
    }
    
    .hidden-panel-nav h3 {
        letter-spacing: 1px;
        margin-bottom: 1em;
    }
    
    .hidden-panel-nav ul {
        list-style: none;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .hidden-panel-nav li {
        cursor: pointer;
    }
    
    .hidden-panel-text {
        line-height: 1.5;
    }
    
    .hidden-panel-text p {
        margin-bottom: 1.5em;
    }
    
    .hidden-panel-text p:last-child {
        margin-bottom: 0;
    }
    
    .hidden-panel-credits {
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 1.5;
    }
    
    .hidden-panel-credits span {
        display: block;
        margin-bottom: 0.15em;
    }
    
    .container:before,
    header:before,
    .menu-toggle:before,
    .container:after,
    header:after,
    .menu-toggle:after {
        content: '';
        display: table;
    }
    
    .container:after,
    header:after,
    .menu-toggle:after {
        clear: both;
    }
    
    .green {
        color: yellowgreen;
    }
    
    .active-nav {
        color: white;
    }
    
    .hide {
        display: none;
    }
    
    .myDIV:hover+.hide {
        display: block;
        color: yellowgreen;
    }
    
    @media only screen and (max-width: 800px) {
        .d-none-small {
            display: none !important;
        }
    }
    /* For desktop: */
    
    @media only screen and (min-width: 800px) {
        .d-none-large {
            display: none !important;
        }
    }
    
    .d-flex {
        display: flex;
        padding: 15px;
        text-align: right;
    }
    
    .d-flex p {
        margin: 0;
    }
    
    .navbar ul {
        display: flex;
        list-style: none;
        justify-content: center;
        width: 100%;
        text-align: center !important;
    }
    
    .navbar li {
        padding: 0px;
        padding-top: 0px;
        width: 100% !important;
        cursor: pointer;
    }
    
    .navbar a:hover {
        color: white !important;
    }
    
    .navbar a:hover,
    .hide {
        -webkit-animation: text-flicker-in-glow 4s linear both !important;
        animation: text-flicker-in-glow 4s linear both !important;
    }
    
    .navbar-menu {
        border: 2px solid green;
        background-color: rgb(33, 31, 32);
        color: white;
    }
    
    .navbar-menu li {
        cursor: pointer;
    }
    
    .navbar-menu li:hover {
        color: yellowgreen;
        -webkit-animation: text-flicker-in-glow 4s linear both;
        animation: text-flicker-in-glow 4s linear both;
    }
    
    .Closepanel {
        height: 100%;
        position: fixed;
        z-index: 500;
        background: #00000060;
        padding: 15px;
    }
    
    .mt-2 {
        margin-top: 15px !important;
    }
    
    .index-menu {
        font-size: larger;
    }