@media only screen and (max-width: 800px) {
    body {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        height: 100%;
    }
    main {
        padding: 20px !important;
    }
}